* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto; }

.templateRow, .row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

[class*="col-"] {
  min-height: 8px;
  padding: 12px;
  float: left; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

nav {
  margin-top: 50px; }
  nav .center {
    text-align: center; }
  nav ul li {
    display: inline;
    list-style: none;
    color: #424242;
    padding: 0 10px; }

.logoSearch {
  float: right;
  clear: right; }

/*Terminan estilos para el nav*/
.imagen {
  width: 100%;
  height: 600px;
  margin-top: 100px; }

.titulo {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #414549; }

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px; }

.profileTitle {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }

.linea {
  width: 100%;
  background-color: #4285f4;
  margin: 20px 0 20px 0;
  height: 5px; }

/*Terminan estilos para la seccion 1*/
.section-left {
  padding: 0px; }

.section-left h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }
.section-left p {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }
.section-left .parrafo-roboto {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px; }
.section-left .roboto {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }

.section-right h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }
.section-right p {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }
.section-right .parrafo-roboto {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px; }
.section-right .roboto {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }
.section-right a {
  text-decoration: none;
  font-family: "Roboto", sans-serif; }
.section-right .more-news {
  text-align: right; }

.blueSquare {
  background-color: #f1f3f4;
  height: 100px;
  margin-top: 30px; }
  .blueSquare a {
    text-decoration: none; }
  .blueSquare .blue-letter {
    text-align: right; }

/*Third section styles starting*/
.section-connectivity .left-column h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }
.section-connectivity .left-column p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px; }
.section-connectivity .left-column .roboto {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }

.section-connectivity .right-column h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }
.section-connectivity .right-column p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px; }
.section-connectivity .right-column .roboto {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }

.section-connectivity .espacio {
  height: 60px; }

/*Starts styles for section 3 Columns*/
.section-3-columns h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }
.section-3-columns a {
  text-align: right;
  text-decoration: none;
  font-family: "Roboto", sans-serif; }
.section-3-columns p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px; }
.section-3-columns .roboto {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }
.section-3-columns .espacio {
  height: 60px; }

/*Section 2 columns large Sticky*/
.sticky-left h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }
.sticky-left p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px; }
.sticky-left .roboto {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }
.sticky-left .espacio {
  height: 60px; }

.sticky-right h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }
.sticky-right p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px; }
.sticky-right .roboto {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }
.sticky-right .espacio {
  height: 60px; }

/*Starts latest-section*/
.latest-section h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }
.latest-section p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px; }
.latest-section .roboto {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }
.latest-section .espacio {
  height: 60px; }

.final-section h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }
.final-section p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px; }
.final-section .roboto {
  font-family: "Lekton", sans-serif;
  padding-left: 0px;
  color: #5f6368; }
.final-section .espacio {
  height: 60px; }

/*styles for links section*/
.links-section h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  color: #424242;
  margin: 20px 0 20px 0;
  line-height: 32px; }
.links-section p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px;
  line-height: normal;
  color: #5f6368; }
.links-section a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px;
  line-height: normal;
  color: #5f6368; }
.links-section a:hover {
  text-decoration: underline; }
.links-section .right {
  text-align: right; }
.links-section .links-space {
  margin-top: 73px; }
.links-section hr {
  width: 100%;
  background-color: #5f6368;
  margin: 20px 0 20px 0;
  height: 3px;
  opacity: .2; }

/*Styles for footer*/
footer a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding-left: 0px;
  color: #414549;
  line-height: 24px;
  line-height: normal;
  color: #5f6368; }
footer a:hover {
  text-decoration: underline; }
footer .right {
  text-align: right; }

/*# sourceMappingURL=style.css.map */
