$margin-top:100px;
$margin-up-bottton:20px 0 20px 0;
$title-font-family-Product:'PT Sans', sans-serif;
$title-font-family-size:36px;
$title-font-family-size-medium:20px;
$subtitle-font-family-Roboto: 'Roboto', sans-serif;
$subtitle-font-family-size: 20px;
$paragraph-font-size:14px;
$profileTitle-font-family: 'Lekton', sans-serif;
$quitar-padding:0px;
$line-height-title: 32px;
$line-height: 24px;
$required-space:60px;