@import 'grid';
@import 'variables';
@import 'mixins';

$container-width:100%;
$container-height:600px;
$img-size-width:900px;
$img-size-height:100px;
$margin-top:100px;
$margin-up-bottton:20px 0 20px 0;
$title-font-family-Product:'PT Sans', sans-serif;
$title-font-family-size:36px;
$title-font-family-size-medium:20px;
$subtitle-font-family-Roboto: 'Roboto', sans-serif;
$subtitle-font-family-size: 20px;
$paragraph-font-size:14px;
$profileTitle-font-family: 'Lekton', sans-serif;
$quitar-padding:0px;
$border-color-blue: rgb(66, 133, 244);
$standard-img-width:410px;
$standard-img-height:300px;
$line-height-title: 32px;
$line-height: 24px;
$required-space:60px;


nav{
    margin-top: 50px;
    .center{
    text-align: center;
    } 
        ul {
            li{
                display: inline;
                list-style: none;
                color: $title-gray;
                padding: 0 10px;
            }
    }
}
.logoSearch{
    float:right;
    clear:right;
}
//Terminan estilos para el nav
.imagen{
    width:$container-width; 
    height: $container-height;
    margin-top: 100px;
}
.titulo{
    @include title;
}
.subtitle{
    font-family: $subtitle-font-family-Roboto;
    font-size: $subtitle-font-family-size;
    color:$text-gray;
}
.paragraph{
    @include texto-parrafo;
}
.profileTitle{
    @include fecha-y-profile;
}
.linea{
    width: $container-width;
    background-color: $border-color-blue;  
    margin:$margin-up-bottton;
    height: 5px ;
    
}
//Terminan estilos para la sección 1
.section-left{
    padding: $quitar-padding;
}
/*.standard-img{
    width: $container-width;
    height: $standard-img-height;
}*/

.section-left{
    h3{
        @include title;
    }
    p{
        @include fecha-y-profile;
    }
    .parrafo-roboto{
        @include texto-parrafo;
    }
    .roboto{
        @include fecha-y-profile;
    }
}
.section-right{
    h3{
        @include title;
    }
    p{
        @include fecha-y-profile;
    }
    .parrafo-roboto{
        @include texto-parrafo;
    }
    .roboto{
        @include fecha-y-profile;
    }
    a{
        text-decoration: none;
        font-family: $subtitle-font-family-Roboto;
    }
    .more-news{
         text-align: right; 
    }
}
.blueSquare{
    background-color: #f1f3f4;
    height: 100px;
    margin-top: 30px;
    a{
        text-decoration: none;
    }
    .blue-letter{
        text-align: right;
    }
}
/*Third section styles starting*/
.section-connectivity .left-column{
    h3{
        @include title;
    }
    p{
       @include texto-parrafo;
    }
    .roboto{
        @include fecha-y-profile;
    }
}
.section-connectivity .right-column{
     h3{
        @include title;
    }
    p{
       @include texto-parrafo;
    }
    .roboto{
        @include fecha-y-profile;
    }
}
.section-connectivity{
    .espacio{
        height: $required-space;
    }
}
/*Starts styles for section 3 Columns*/
.section-3-columns{
    h3{
    @include title;
}
    a{
        text-align: right;
        text-decoration: none;
        font-family: $subtitle-font-family-Roboto;
    }
    p{
        @include texto-parrafo;
    }
    .roboto{
        @include fecha-y-profile;
    }
    .espacio{
        height: $required-space;
    }
}
/*Section 2 columns large Sticky*/
.sticky-left{
    h3{
        @include title;
    }
    p{
       @include texto-parrafo;
    }
    .roboto{
        @include fecha-y-profile;
    }
    .espacio{
        height: $required-space;
    }
}
.sticky-right{
    h3{
        @include title;
    }
    p{
       @include texto-parrafo;
    }
    .roboto{
        @include fecha-y-profile;
    }
    .espacio{
        height: $required-space;
    }
}
/*Starts latest-section*/
.latest-section{
    h3{
        @include title;
    }
    p{
       @include texto-parrafo;
    }
    .roboto{
        @include fecha-y-profile;
    }
    .espacio{
        height: $required-space;
    }
}
.final-section{
     h3{
        @include title;
    }
    p{
       @include texto-parrafo;
    }
    .roboto{
        @include fecha-y-profile;
    }
    .espacio{
        height: $required-space;
    }
}
/*styles for links section*/
.links-section{
    h4{
        @include title;
    }
    p{
        @include texto-parrafo;
        line-height: normal;
        color:$date-gray;
        
    }
    a{
        text-decoration: none;
        @include texto-parrafo;
        line-height: normal;
        color:$date-gray;
    }
    a:hover{
        text-decoration: underline;
    }
    .right{
        text-align: right;
    }
    .links-space{
        margin-top: 73px;
    }
    hr{
        width: $container-width;
        background-color: $date-gray;  
        margin:$margin-up-bottton;
        height: 3px;
        opacity: .2;
    }
}
/*Styles for footer*/
footer{
       a{
        text-decoration: none;
        @include texto-parrafo;
        line-height: normal;
        color:$date-gray;
    }
    a:hover{
        text-decoration: underline;
    }  
   .right{
        text-align: right;
    }
}
